## HCBB - Gryphons - Goal 3

In [1]:
import pandas as pd
import pickle

## practice reading in 1000 rows

In [2]:
%%time

procedures_provider = pd.DataFrame()
chunk_nbr = 1

for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv',
                         dtype={'Zip Code of the Provider': object},
                         chunksize = 1000):
    procedures_provider.append(chunk[chunk['Entity Type of the Provider'] == 'I']) 
    
    if chunk_nbr == 1:
        procedures_provider = procedures_provider.append(chunk)
        chunk_nbr += 1
    else: break

procedures_provider.head()

Wall time: 46.9 ms

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96,100,73.398800,325.780000,56.827200,57.492400
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25,26,100.080000,449.000000,78.460000,79.306154
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51,52,136.380000,614.000000,102.807692,103.895385
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59,59,190.363729,755.932203,141.293559,142.865763
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16,16,101.680000,462.812500,79.710000,80.750000

In [3]:
procedures_provider.shape

(1000, 26)

## Read in datafile with 'Entity Type of the Provider' = 'I'

In [4]:
%%time

HCPCS_providers_base =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv', 
                         dtype={'Zip Code of the Provider': object},
                         chunksize = 1000):
    HCPCS_providers_base.append(chunk[chunk['Entity Type of the Provider'] == 'I']) 
               
                
hcpcs_providers = pd.concat(HCPCS_providers_base, ignore_index=True)

Wall time: 2min 24s

In [5]:
hcpcs_providers.shape

(9416125, 26)

In [6]:
hcpcs_providers.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96,100,73.398800,325.780000,56.827200,57.492400
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25,26,100.080000,449.000000,78.460000,79.306154
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51,52,136.380000,614.000000,102.807692,103.895385
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59,59,190.363729,755.932203,141.293559,142.865763
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16,16,101.680000,462.812500,79.710000,80.750000

In [7]:
hcpcs_providers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9416125 entries, 0 to 9416124
Data columns (total 26 columns):
National Provider Identifier                                int64
Last Name/Organization Name of the Provider                 object
First Name of the Provider                                  object
Middle Initial of the Provider                              object
Credentials of the Provider                                 object
Gender of the Provider                                      object
Entity Type of the Provider                                 object
Street Address 1 of the Provider                            object
Street Address 2 of the Provider                            object
City of the Provider                                        object
Zip Code of the Provider                                    object
State Code of the Provider                                  object
Country Code of the Provider                                object
Provider Type                                               object
Medicare Participation Indicator                            object
Place of Service                                            object
HCPCS Code                                                  object
HCPCS Description                                           object
HCPCS Drug Indicator                                        object
Number of Services                                          float64
Number of Medicare Beneficiaries                            int64
Number of Distinct Medicare Beneficiary/Per Day Services    int64
Average Medicare Allowed Amount                             float64
Average Submitted Charge Amount                             float64
Average Medicare Payment Amount                             float64
Average Medicare Standardized Amount                        float64
dtypes: float64(5), int64(3), object(18)
memory usage: 1.8+ GB

In [8]:
hcpcs_providers_clean = hcpcs_providers.drop(columns = ['Middle Initial of the Provider', 'Gender of the Provider', 'Street Address 2 of the Provider'])

In [9]:
hcpcs_providers_clean.shape

(9416125, 23)

In [10]:
hcpcs_providers_clean.to_pickle("../data/hcpcs_providers_clean.pkl")